**.asv
**.txt
**__pycache__**
IPNAnalysis/AnalyzedData/*
IPNAnalysis/sorting_intermediate/*
IPNAnalysis/Sorting_Intermediate_files/*
IPNAnalysis/sorting/*
IPNAnalysis/Electrodes/*
AnalyzedData/*
AxonReconPipeline/data*
AxonReconPipeline/data/temp_data/recordings/*
AxonReconPipeline/data/temp_data/sortings/*
AxonReconPipeline/data/temp_data/waveforms/*
AxonReconPipeline/data/temp_data/templates/*
#AxonReconPipeline/data/temp_data/reconstructions/*
**.mat
.vscode
**.pkl
slurm*.out
**.png
**.npz
**.zip
Anaconda3-2024.02-1-Linux-x86_64.sh 