**.asv
**.txt
**__pycache__**
IPNAnalysis/AnalyzedData/*
IPNAnalysis/sorting_intermediate/*
IPNAnalysis/Sorting_Intermediate_files/*
IPNAnalysis/sorting/*
IPNAnalysis/Electrodes/*
AnalyzedData/*
AxonReconPipeline/data/*
**.mat
.vscode
**.pkl
slurm*.out
**.png
**.npz
**.zip
venv/
**.log
**.out
nohup.out
**.svg
.DS_Store
**.pdf
**.h5
**.raw
si_ks4/
IPNAnalysis/kilosort_output/sorter_output/
NetworkAnalysis/ActivityQuality/*.csv
kilosort4_output/

# Packaging artifacts
*.egg-info/
build/
dist/
